/* common */

body {
  background-color: #fff;
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
}
button { cursor: pointer;}

address {
  font-style: normal;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend, .a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.cont {
  &--loading {
    &::after {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5em;
      content: 'Loading...';
      font-size: 1.6em;
      background-color: rgba(255,255,255,.8);
      color: #209cee;
      z-index: 9999;
      font-family: 'Quantico', sans-serif;
    }
  }
}

/* header */

.header {
  &__heading {
    margin-right: 20px;
    color: #fff;
    font-size: 34px;
    font-weight:bold;
    font-family: 'Quantico', sans-serif;
    cursor: pointer;
  }
}

.member{
  display:flex;
  &__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .member__btn-logout,
  .member__btn-cart,
  .member__btn-order {
    display: none;
  }
  .member__btn-login,
  .member__btn-join {
    display: block;
  }
  &.authed {
    .member__btn-logout,
    .member__btn-cart,
    .member__btn-order {
      display: block;
    }
    .member__btn-login,
    .member__btn-join {
      display: none;
    }
  }
}

/* container */

main { 
  position: relative;
  padding: 50px 0;
  @media only screen and (max-width: 768px) {
    padding: 40px 25px;
  }
  @media only screen and (max-width: 480px) {
    padding: 30px 15px;
  }
}

.login {
  &__form {
    width: 400px;
    margin-top: 50px;
    @media only screen and (max-width: 480px) {
      width: 100%;
      margin-top: 50px;
    }
    .input {
      margin-bottom: 5px;
    }
  }
  &__submit-btn {
    width: 100%;
    margin-top: 10px;
  }
  &__join {
    width: 400px;
    margin: 50px 0;
    text-align: right;
    &__explain {
      text-align: left;
    }
  }
}

.join {
  &__form {
    width: 400px;
    margin-top: 50px;
    text-align: right;
    @media only screen and (max-width: 480px) {
      width: 100%;
      margin-top: 50px;
    }
    .input {
      margin-bottom: 5px;
    }
  }
  .button {
    margin-top: 30px;
  }
}
.product-list {
  width: 100%;
  &:after {
    display: block;
    clear:both;
    content:'';
  }
}
.product-item {
  width: 25%;
  padding: 40px;
  float: left;
  text-align: center;
  &__img {
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__title {
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 5px !important;
    cursor: pointer;
  }
  &__price-unit {
    font-size: 0.9em;
    color: #666;
  }
  @media only screen and (max-width: 1280px) {
    padding: 25px;
  }
  @media only screen and (max-width: 900px) {
    width: 50%;
    padding: 30px;
  }
  @media only screen and (max-width: 768px) {
    padding: 20px;
  }
  @media only screen and (max-width: 480px) {
    float: none;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }
}

.product-details {
  &__btn-golist {
    margin-bottom: 20px;
  }
  &__page {
    margin-top: 30px;
    clear: both;
    &:after {
      display: block;
      clear: both;
      content:'';
    }
  }
  &__info {
    display: flex;
    @media only screen and (max-width: 900px) {
      display: block;
    }
  }
  &__img {
    width: 380px;
    height: 380px;
    margin: 0 50px 100px 0;
    @media only screen and (max-width: 400px) {
      max-width: 100%;
      height: auto;
      margin: 0 0 30px 0;
    }
  }
  &__box{
    width: calc(100% - 430px);
    padding: 10px 300px 10px 50px;

    @media only screen and (max-width: 1280px) {
      padding-right: 50px;
    }

    @media only screen and (max-width: 900px) {
      width: auto;
      padding: 10px;
    }
  }
  &__list {
    margin-top: 20px;
    dt {
      font-weight: bold;
    }
    dd{
      margin-left:0 !important;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
  &__layer {
    display: none;
    &__list {
      display:flex;
      justify-content: space-between;
      padding: 20px;
      border-top: 2px dotted #fff;
      &:first-child {
        border-top: 0;
      }
    }
    &.layer-active {
      display: block;
      background-color: #eee;
    }
    &__quantity {
      font-size: 0;
    }
  }
  &__quantity-total {
    width: 40px;
    text-align: right;
    padding-right: 10px;
  }
  &__content {
    clear: both;
    margin-top: 50px;
  }
  &__total {
    margin-top: 30px;
    text-align: right;
    &-num {
      color: #209cee;
      font-weight: bold;
      font-size: 1.2em;
      padding: 0 3px;
    }
  }
  &__btnset {
    text-align: right;
  }
  &__btn-buy {
    margin-right: 5px;
  }
}

.cart {
  &-noitem__explain {
    padding: 50px 0;
    text-align: center;
  }
  &__list {
    margin:30px 0;
    padding: 30px; 
    background-color: #f2f2f2;
  }
  &__item {
    display: flex;
    border-top:1px solid #bbb;
    padding: 20px;
    background-color: #fff;
    &:last-child {
      border-bottom:1px solid #bbb;      
    }
    &__img {
      width: 80px;
      height: 80px;
      margin-right:20px;
    }
    &__main-info {
      width: 240px;
      margin-right:10px;
    }
    &__info {
      width: 200px;
      margin-right:10px;
      align-items: center;
      flex-grow: 1;
      display: flex;      
    }
    &__quantity-total {
      width: 40px;
      text-align: right;
      padding-right:10px;
    }
    &__btn {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      &-order {
        margin-right:10px;
      }
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 1.2em;
    }
    &__price-num {
      color: #ff3860;
      font-weight: bold;
      font-size: 1.2em;
    }
    &__order {
      margin-left: 30px;
    }
  }
}

.order {
  &__list {
    margin:30px 0 50px;
    padding: 30px; 
    background-color: #f2f2f2;
  }
  &__item {
    display: flex;
    border-top:1px solid #bbb;
    padding: 10px 20px;
    background-color: #fff;
    &:last-child {
      border-bottom:1px solid #bbb;      
    }
    &__img {
      width: 80px;
      height: 80px;
      margin-right:20px;
    }
    &__main-info {
      width: 240px;
      margin-right:10px;
      p {
        margin-bottom: 5px !important;
      }
    }
    &__info {
      width: 200px;
      margin-right:10px;
      align-items: center;
      flex-grow: 1;
      display: flex;
    }
    &__price {
      color: #ff3860;
      margin-left: 5px;
    }      
  }

  &__pay{
    &__price-num {
      color: #ff3860;
      font-weight: bold;
      font-size: 1.2em;
    }
    &__btn {
        margin-left: 20px;
    }
  }

  &__ship__box {
    margin: 30px 0 50px;
    padding: 10px;
    background-color: #f2f2f2;
    div {
      margin-bottom: 10px;
      :last-child {
        margin-bottom: 0;
      }
    }
    .input {
      margin: 2px 0;
    }
  }
  &__pay__total__box {
    display: flex;
    justify-content: flex-end;
  }
  &__pay__price {
    font-size: 1.3em;
  }
}

.order-history{
  &__nolist__explain {
    padding: 50px 0;
    text-align: center;
  }
  &__list {
    margin:30px 0 50px;
    padding: 30px; 
    background-color: #f2f2f2;
  }
  &__item {
    p {
      margin-bottom: 5px !important;
    }
    border-top:1px solid #bbb;
    padding: 10px 20px;
    background-color: #fff;
    &:last-child {
      border-bottom:1px solid #bbb;      
    }
  }
}

/* footer */
footer.footer {
  padding: 3rem 1.5rem;
}